#my-form-section .wrapper {
  padding: 96px 0 128px 0;
}
#my-form-section .row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 64px;
}
#my-form-section .contact-form {
  background: #F0F2FE;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 148px;
     -moz-column-gap: 148px;
          column-gap: 148px;
  padding: 64px;
}
#my-form-section .contact-form .md-header {
  margin-bottom: 16px;
}
#my-form-section .contact-form .my-form {
  max-width: 622px;
}
#my-form-section .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 16px;
  margin-top: 48px;
}
#my-form-section .contact-form form .message {
  padding-bottom: 84px;
}
#my-form-section .contact-form form .company-name {
  padding-left: 30px;
}
#my-form-section .contact-form .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}
#my-form-section .contact-form input {
  width: 100%;
  padding: 20px 0 20px 24px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
}
#my-form-section .contact-form .contact {
  padding-right: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 36px;
}
#my-form-section .contact-form .contact .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}