$primary-color: #1D2130;
$blue-color: #6B7CFF;
$light-violet-color: #E0E4FC;
$label-gradient-color: linear-gradient(53.94deg, #373FFF 15.02%, #3ACAF8 82.83%);
$blue-gradient-color: radial-gradient(483.9% 2719.65% at -49.5% -250%, #D798E1 17.55%, #9BFFA5 27.56%, #AED3FF 49.89%, #C9D4EF 56.53%, #CACFFA 65.69%);
$white-color: #FFFFFF;
