#corporate-values-section{
    padding: 128px 0;
    .row{
        flex-direction: column;
        row-gap: 48px;
        .heading{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            row-gap: 16px;
           
        }

        .features{
            display: flex;
            flex-wrap: wrap;
            row-gap: 65px;
            column-gap: 64px;
            padding: 72px 64px 64px 64px;
            background: #F9F0FB;
            border-radius: 24px;

            .feature{
                max-width: 340px;
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                .icon{
                    padding-bottom: 12px;
                }
            }
        }
    }
}