#header{
    .row{
        justify-content: space-between;
        padding: 24px 0;
        .nav{
            display: flex;
            column-gap: 32px;
        }

        .links{
        display: flex;
        column-gap: 32px;
        align-items: center;
            a{
            color: $primary-color;
            }
        }
    }
}
    