#marketing-section{
    padding: 128px 0;
    .row{
        justify-content: space-between;
    }
    .left{
        max-width: 576px;
        .lg-header{
            padding: 24px 0 32px 0;
        }
    }
    .right{
        max-width:467px;
        padding-right: 150px;
    }
}